<a href="https://colab.research.google.com/github/CyberIngeniero/chile_commune_georreferenced/blob/main/Comunas_Georreferenciadas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Obteniendo Informacion de Comunas Georeferenciadas

## Cloning github repository

In [ ]:
!git clone https://github.com/2x3-la/geo-chile

Cloning into 'geo-chile'...
remote: Enumerating objects: 11, done.
remote: Total 11 (delta 0), reused 0 (delta 0), pack-reused 11
Unpacking objects: 100% (11/11), done.

## Environment Config

In [ ]:
%cd geo-chile
%env PYTHONPATH=.:$PYTHONPATH

/content/geo-chile
env: PYTHONPATH=.:$PYTHONPATH

In [ ]:
!ls

chile.json  chile_with_regions.json  LICENSE  README.md

------

## Get data for georeferenced communes

In [ ]:
import json
import pandas as pd

In [ ]:
# reading the JSON data using json.load()
file = 'chile.json'

In [ ]:
with open(file) as data_file:
    dict_chile = json.load(data_file)

In [ ]:
df_chile = pd.DataFrame.from_dict(dict_chile)

In [ ]:
df_chile

              name          lng          lat
0         Santiago  -70.6666667  -33.4500000
1      Cerro Navia  -70.7166667  -33.4166667
2        El Bosque  -70.7000000  -33.5666667
3       Huechuraba  -70.6666667  -33.3500000
4      La Cisterna  -70.6833333  -33.5500000
..             ...          ...          ...
340        Natales  -72.5166667  -51.7333333
341      Primavera  -69.2500000  -52.7166667
342      Antártica  -71.5000000  -75.0000000
343   San Gregorio  -69.6833333  -52.3166667
344  Laguna Blanca  -71.9166667  -52.2500000

[345 rows x 3 columns]

## Get data for georeferenced communes with region

In [ ]:
df_reg = pd.DataFrame()

for reg in dict_reg.keys():
    temp = pd.DataFrame.from_dict(dict_reg[reg])
    temp['region'] = reg
    df_reg = df_reg.append(temp)

In [ ]:
# reading the JSON data using json.load()
file_reg = 'chile_with_regions.json'

In [ ]:
with open(file_reg) as data_file:
    dict_reg = json.load(data_file)

In [ ]:
df_reg = pd.DataFrame()

In [ ]:
for reg in dict_reg.keys():
    temp = pd.DataFrame.from_dict(dict_reg[reg])
    temp['region'] = reg
    df_reg = df_reg.append(temp)

In [ ]:
df_reg

             name          lng          lat         region
0        Santiago  -70.6666667  -33.4500000  Metropolitana
1     Cerro Navia  -70.7166667  -33.4166667  Metropolitana
2       El Bosque  -70.7000000  -33.5666667  Metropolitana
3      Huechuraba  -70.6666667  -33.3500000  Metropolitana
4     La Cisterna  -70.6833333  -33.5500000  Metropolitana
..            ...          ...          ...            ...
6         Natales  -72.5166667  -51.7333333     Magallanes
7       Primavera  -69.2500000  -52.7166667     Magallanes
8       Antártica  -71.5000000  -75.0000000     Magallanes
9    San Gregorio  -69.6833333  -52.3166667     Magallanes
10  Laguna Blanca  -71.9166667  -52.2500000     Magallanes

[345 rows x 4 columns]